@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-image: url('./hand-painted-watercolor-background-with-sky-clouds-shape.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}

.User-list
{
  background-color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  width:100%;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;

}
.Title
{
  font-size: 38px;
  margin:0px;
  font-family: 'Shadows Into Light', cursive;
  color:coral;
}
.prop
{
  font-size: 23px;
  text-decoration: underline;
  font-family: 'Shadows Into Light', cursive;
  margin:5px;
}

td
{
  font-size: 18px;
  padding: 3px;
  width:20%;
}
